<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
<!--
        <property name="connection.driver_class">org.postgresql.Driver</property>
-->
        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>

<!--        
        <property name="connection.url">jdbc:postgresql://localhost/researcher</property>
-->
        <property name="connection.url">jdbc:derby:biojazz;create=true</property>

<!--
        <property name="connection.username"></property>
        <property name="connection.password"></property>
-->

		<!-- configuration pool via c3p0--> 
		<property name="c3p0.acquire_increment">1</property> 
		<property name="c3p0.idle_test_period">100</property> <!-- seconds --> 
		<property name="c3p0.max_size">30</property> 
		<property name="c3p0.max_statements">0</property> 
		<property name="c3p0.min_size">5</property> 
		<property name="c3p0.timeout">100</property> <!-- seconds --> 

        <!-- SQL dialect -->
<!--        
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
-->
        <property name="dialect">org.hibernate.dialect.DerbyDialect</property>
<!--        org.hibernate.dialect.DerbyDialect -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <property name="hbm2ddl.auto">update</property>
        
		<property name="bytecode.use_reflection_optimizer">false</property>
		
		<property name="hibernate.jdbc.batch_size">20</property>
		

        <mapping class="researcher.beans.User"/>
        <mapping class="researcher.beans.Hit"/>
        <mapping class="researcher.beans.BlastQuery"/>
        <mapping class="researcher.beans.SecondaryBlastQuery"/>        
        <mapping class="researcher.beans.BlastDatabase"/>
        <mapping class="researcher.beans.Configuration"/>
        <mapping class="researcher.beans.Subhit" />
        <mapping class="researcher.beans.FastaSequence" />

    </session-factory>

</hibernate-configuration>

